
.block_container {
  display: flex;
  flex-direction: column;
}

.block_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.block_cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rect {
  width: 100px;
  height: 100px;
}

.color_red {
  background: red;
}

.color_green {
  background: green;
}
