<div *ngFor="let usr of user">
  <p>Имя пользователя: {{usr.name}}</p>
  <p>Возраст пользователя: {{usr.age}}</p>

</div>

<input type="number" id="testText">

<br><br>
<div (click)="testShow = !testShow; testShow ? startStream() : endStream()" [ngClass]="['rect', testShow ? 'color_red' : 'color_green']">
</div>

<br><br>

<div class="block_container">
  <div class="block_row">
    <div class="block_cell" *ngFor="let item of subscribers; let i=index">
      <input
        [type]="'text'"
        [id]="'displayStream_' + i">
      <input
        [type]="'button'"
        [value]="!item.subscription || item.subscription.closed ? 'подписаться' : 'отписаться'"
        (click)="subsSubjectStream(i)">
    </div>
  </div>
</div>

{{ subjectStream }}
